@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    
    margin: 0 auto;
     padding: var(--spacing-lg);
     box-sizing: border-box;
     text-decoration: none;
    
}

body{
    
    font-size: 100%;
    background-color: #f4f0f4;
    color: #454545;
    font-family: open sans, sans-serif;
    font-weight: 400;

}

header{
   
    padding: 1rem;
    background-color:  #117818;
    text-align:center;

}

.titulo{
  
  color: #eed010;

}

.gold{
  
  color:  #eed005;

}

main{
    
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

}

section{
    
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.image{
  
  height: 100px;
  width: auto;
  margin-left: 10px;

}

.menu-normal{

  text-align: center;
  margin-top: 5px;

}
.menu-normal a{
  
  color:#eed010;
  text-decoration: none;
  padding: 0px 50px 10px 0;
  font-size: 15pt;
  position: relative;

}

.menu-normal a::after{

  content: " ";
  width: 0;
  height: 4px;
  background-color: #eed010;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s ease-in-out;

}

.menu-normal a:hover::after{

  width: 100%;

}

.mobile-menu{

  text-align: center;
  margin-top: 5px;

}

.mobile-menu a{
  
  color:#eed010;
  text-decoration: none;
  padding: 0px 50px 10px 0;
  font-size: 15pt;
  position: relative;

}

.mobile-menu a::after{

  content: " ";
  width: 0;
  height: 4px;
  background-color: #eed010;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s ease-in-out;

}

.mobile-menu a:hover::after{

  width: 100%;

}

.image-cadastro{
  
  display: flex;
  justify-content:center;
  border-radius: 5px;

}

fieldset{
  
  background:linear-gradient(135deg, 117810, #eed005);
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-lg);
  max-width: 800px;
  margin: 0 auto;
  border: 1px solid;
  padding: var(--spacing-lg);
  border-radius: 10px;

}

.end{
  
  background:linear-gradient(135deg, #1e7d1c, #eed005);

}


.me{
  
  padding: 5px;
  margin-top: 5px;

}

.cadastro-a {
    background-color: #f4f4f4; 
    font-family: Arial, sans-serif;
}


.cadastro-a{
  
  background:linear-gradient(135deg, #1e7d1c, #eed005);
  color: #ceb301;
  text-align: center;

}

legend{
  
  color: #fbda05;
}
.form-group{
  
  display: flex;
  color: #f4f0f4;
  flex-direction: column;
  text-align: left;
  margin-bottom: 15px;

}

button{
  
  background-color: #117818;
  color: #eed010;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;

}
img{
  
  max-width: 100%;
  height: auto;
  border-radius: 5px;

}

span{
  
  position: absolute;
  top: 10px;
  right: 10px;
  color: #ceb301;
  padding: 10px;
  cursor: pointer;

}

.green{
  
  color: #117818;

}

#mensagemSucesso{

  display: none;
  background-color: #117818;
  color: #ceb301;
  border: 1px solid #ceb301;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  margin-top: 15px;
}

.menu-icon{

  background-color: #117818;
  display: block;
  height: 4px;
  margin: 4px 0;
  cursor: pointer;
  border-radius: 2px;
  width: 30px;

}

nav.menu-icon{

  display: none;

}

nav.mobile-menu{

  display: block;

}

nav.mobile-menu.active{

  display: block;

}

@media (min-width: 769px){

  .menu-icon{
    display: none !important;

  }

  nav.mobile-menu{

    display: none !important;

  }

  .menu-normal{
    
    display: block;
  
  }

}

@media (max-width: 768px){

  .menu-icon{
    display: block;

  }

  nav.mobile-menu{

    display: none;
  
  }

  nav.mobile-menu.active{

    display: block;

  }

  nav.menu-normal{

    display: none;

  }

}
 
@media only screen and (min-width: 600px){  
  
  

}

@media only screen and (min-width: 768px){
  
  

}

@media only screen and (min-width: 992px){

  

}

@media only screen and (min-width: 1200px) {
  
}
